%% -*- erlang -*-

[{lager, [{log_root, "dev/var/log"},
          {handlers, [{lager_console_backend, 
                       [info, 
                        {lager_default_formatter,
                         [time, " [", severity, "][", module, ":", line, "] ", message, "\n"]}]},
                      {lager_file_backend, [{file, "data.log"}, {level, info}, {date, "$D0"}, {count, 0},
                                            {formatter_config, [date, " ", time, " [", sev, "] ", message, "\n"]}]}
                     ]}
         ]}].

%% vim: set filetype=erlang:
