%% -*- erlang -*-

[{lager, [{log_root, "dev/var/log"},
          {handlers, [{lager_console_backend, 
                       [info, 
                        {lager_default_formatter,
                         ["\033[0;33m", time, " [", severity, "][", module, ":", line, "] ", pid, "\033[0m ", message, "\n"]}]},
                      {lager_file_backend, [{file, "data.log"}, {level, info}, {date, "$D0"}, {count, 0},
                                            {formatter_config, [date, " ", time, " [", sev, "] ", message, "\n"]}]}
                     ]}
         ]
 },
 {havel, [{http_opts, [{port, 9091}]},
          {https_opts, [{port, 9093}, {certfile, "dev/ssl/server.crt"}, {keyfile, "dev/ssl/server.key"}]}
         ]
 }
].

%% vim: set filetype=erlang:
